// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// html { 
//   background: url(http://content.artofmanliness.com/uploads//2012/08/31header4.jpg) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: 100% 100%;
// }


body {
  margin: 0;
}
#first article.search {
  width: 720px;
  height: 200px;
  background-color:rgba(64, 74, 84, 0.7);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

  h1 {
    font-size:40px;
    color: #EFF0E9;
  }
}

.search-form {
  width: 100%;
  margin-top:40px;
}

nav {
  position: fixed;
  border: 1px solid black;
  top: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: rgba(64, 74, 84, 0.7);
  z-index: 100;
}

body, input {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #404A54;
  font-size: 22px;
  font-weight: 200;
  line-height: 1.4;
}

a.sb {
  width: 18px;
  height: 18px;
  font-size:12px;
  color: #78828B;
}

form {
  margin: 0;
}

input    {
  text-align: center;
  font-size: 18px;
  width:150px;
  display:inline-block;
  border: 1px solid #999;
  height: 35px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.button {
  color: #983A34
}


nav a {
  color:white;
  text-decoration: none;
  font-weight: bold;
}

.welcome_page_body {
  padding-top: 4%;
}

.nav-header{
  float:left;
  padding-left:30px;
}

.login-area {
  color: #EFF0E9;
  float:right;
  padding-right:30px;
  position:relative;
  top:10px;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.login-area a{
  color:#EFF0E9;
  font-weight: normal;
}

.nav_title {
  font-family: cursive;
  font-size: 30px;
  font-style:italic
}
  
#ui-datepicker-div {
  font-size: 14px
}


// Scrolling stuff
#first { background: url("guitar.jpg") 50% 0 no-repeat fixed; }
#third { background: url("bike.jpg") 50% 0 no-repeat fixed; }
#fifth { background: url("camera1.jpg") 50% 0 no-repeat fixed; }

#first article {
  position:absolute;
  top:400px;
  left:200px;
}

#first, #third, #fifth, #seventh { height:900px }

.story { 
  border: 1px solid rgba(64, 74, 84, 0.3);
  background: url('bg-noise.png');
  margin: 0; 
  padding: 50px;
  width: 100%; 
  position: relative; 
  margin: 0 auto; 
  z-index: 50;
}

.story article {  
  width: 445px;
  text-align: center;
  margin: auto; 
  padding: 10px 20px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  color: #78828B; 

}

.story article h1 { 
  font-size: 60px; 
  font-weight: normal;
  color: #983A34;

}

footer.story {
  height:200px;
  background: rgba(64, 74, 84, 0.7);
  clear:both;
}

.footer li {
  list-style-type: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
