.wrapper{
  margin-top: 50px;
  background-size: 100% auto!important;
  background-position-y: 50%!important;
}

 .item-borrow h2 {
  color: #983A34;
}

.item-borrow{
  background: url('blue-noise.png'); 
  padding: 20px;
  margin-top:191px!important;

  span{
    color: 
  }
}

.item-show {
}

.overlay {
  background: url('bg-noise.png');
  opacity: .97;
}

.price {
  position:relative;
  top: 20px;
}

.item-borrow h2 {
  display: inline-block;
  margin: 20px 10px;
}

.col-66{
  width:60%;
  float:left;
  margin:30px 30px;
}

.availability {
  float:right;
  font-size: 14px;
}

.col-33 {
  width: 30%;
  float:left;
  margin:30px 30px;
}

.photo {
  clear:both;
  display: inline;
  margin: 0 20px;
  -webkit-box-shadow: 1px 0px 18px rgba(50, 50, 50, 0.37);
  -moz-box-shadow:    1px 0px 18px rgba(50, 50, 50, 0.37);
  box-shadow:         1px 0px 18px rgba(50, 50, 50, 0.37);
}

.gallery {
  padding: 40px;
  height: 330px; 
  overflow: auto;
  white-space: nowrap;
  // background-color: rgba(64, 74, 84, 0.9);
}

.center {
  text-align:center
}
