%html
  %head
    %titleStuffwithfriends
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
  %body
    %nav
      %h1{:class => "nav_title"}Rent Stuff from friends
      -if current_user
        %div{:class =>"nav_log_ing"}= "Signed in as " + current_user.first_name + " " + current_user.last_name
        =link_to "Sign out", '/logout'
      -else 
        =link_to "Sign in with Facebook", "/auth/facebook"

    =yield
